.student-list{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 2rem;

}
.container{
    border:2px solid rgb(184, 117, 167);
    border-radius: 24px;
    width: 17vw; 
    margin: 3px;
    text-align: center;
}
body ,html{
    height: 90%;
    font-family: "Roboto Slab SBN", "Palatino Linotype", "Palatino";
}
h1 , h3{
    text-align: center;
   font-size: xx-large;
}

input[type=button] {
    margin: 6px;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color:powderblue ;
    color: rgba(173, 97, 144, 0.068);
    font-weight: bolder;
  }
  input[type=button]:hover{
    color: white;

  }
.qty{
    margin: 5px;
    width: 80px;
    height: 25px;
    text-align: center;
    background-color: papayawhip;
    color:black;
    font-weight: bolder;
}
.img{
    width: 15vw;
    height: 25vh;
}
hr{
    color: rgb(97, 157, 192);
}